.slboxs {
  position: fixed;
  top: 120px;
  color: #000;
  z-index: 99999;
  width: 300px;
  /* General */
  /* Twitter */
  /* YouTube */ }
  @media only screen and (max-width: 480px) {
    .slboxs--disable_on_mobile {
      display: none; } }
  .slboxs__label {
    background-size: 35px auto;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 0;
    cursor: pointer; }
    .slboxs__label span {
      display: none; }
  .slboxs__inside {
    padding: 0;
    border: 1px solid #3B5998;
    background: #fff;
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto; }
    .slboxs__inside.slboxs__youtube {
      height: 250px; }
  .slboxs__container {
    position: absolute;
    top: 0;
    z-index: 1; }
  .slboxs__twitter__container {
    top: 45px; }
    .slboxs__twitter__container.slboxs__big-trans, .slboxs__twitter__container.slboxs__big-fill {
      top: 95px; }
  .slboxs__youtube__container {
    top: 90px; }
    .slboxs__youtube__container.slboxs__big-trans, .slboxs__youtube__container.slboxs__big-fill {
      top: 190px; }

/* Facebook */
.slboxs__facebook__container-style-small-fill-left .slboxs__label, .slboxs__facebook__container-style-small-fill-right .slboxs__label {
  background: url(../images/facebook-small-fill.png) no-repeat scroll transparent;
  background-image: url(../images/facebook-small-fill.svg), none; }
.slboxs__facebook__container-style-small-trans-left .slboxs__label, .slboxs__facebook__container-style-small-trans-right .slboxs__label {
  background: url(../images/facebook-small-trans.png) no-repeat scroll #fff;
  background-image: url(../images/facebook-small-trans.svg), none; }
.slboxs__facebook__container-style-small-trans-left .slboxs__label, .slboxs__facebook__container-style-small-fill-left .slboxs__label {
  margin-right: -35px; }
.slboxs__facebook__container-style-small-trans-right .slboxs__label, .slboxs__facebook__container-style-small-fill-right .slboxs__label {
  margin-left: -35px; }
.slboxs__facebook__container-style-big-fill-left .slboxs__label {
  background: url(../images/facebook-big-fill-left.png) no-repeat scroll transparent;
  background-image: url(../images/facebook-big-fill-left.svg), none;
  height: 92px;
  margin-right: -35px; }
.slboxs__facebook__container-style-big-fill-right .slboxs__label {
  background: url(../images/facebook-big-fill-right.png) no-repeat scroll transparent;
  background-image: url(../images/facebook-big-fill-right.svg), none;
  height: 92px;
  margin-left: -35px; }
.slboxs__facebook__container-style-big-trans-left .slboxs__label {
  background: url(../images/facebook-big-trans-left.png) no-repeat scroll #fff;
  background-image: url(../images/facebook-big-trans-left.svg), none;
  height: 92px;
  margin-right: -35px; }
.slboxs__facebook__container-style-big-trans-right .slboxs__label {
  background: url(../images/facebook-big-trans-right.png) no-repeat scroll #fff;
  background-image: url(../images/facebook-big-trans-right.svg), none;
  height: 92px;
  margin-left: -35px; }

.slboxs__twitter__container-style-small-fill-left .slboxs__label, .slboxs__twitter__container-style-small-fill-right .slboxs__label {
  background: url(../images/twitter-small-fill.png) no-repeat scroll transparent;
  background-image: url(../images/twitter-small-fill.svg), none; }
.slboxs__twitter__container-style-small-trans-left .slboxs__label, .slboxs__twitter__container-style-small-trans-right .slboxs__label {
  background: url(../images/twitter-small-trans.png) no-repeat scroll #fff;
  background-image: url(../images/twitter-small-trans.svg), none; }
.slboxs__twitter__container-style-small-trans-left .slboxs__label, .slboxs__twitter__container-style-small-fill-left .slboxs__label {
  margin-right: -35px; }
.slboxs__twitter__container-style-small-trans-right .slboxs__label, .slboxs__twitter__container-style-small-fill-right .slboxs__label {
  margin-left: -35px; }
.slboxs__twitter__container-style-big-fill-left .slboxs__label {
  background: url(../images/twitter-big-fill-left.png) no-repeat scroll transparent;
  background-image: url(../images/twitter-big-fill-left.svg), none;
  height: 92px;
  margin-right: -35px; }
.slboxs__twitter__container-style-big-fill-right .slboxs__label {
  background: url(../images/twitter-big-fill-right.png) no-repeat scroll transparent;
  background-image: url(../images/twitter-big-fill-right.svg), none;
  height: 92px;
  margin-left: -35px; }
.slboxs__twitter__container-style-big-trans-left .slboxs__label {
  background: url(../images/twitter-big-trans-left.png) no-repeat scroll #fff;
  background-image: url(../images/twitter-big-trans-left.svg), none;
  height: 92px;
  margin-right: -35px; }
.slboxs__twitter__container-style-big-trans-right .slboxs__label {
  background: url(../images/twitter-big-trans-right.png) no-repeat scroll #fff;
  background-image: url(../images/twitter-big-trans-right.svg), none;
  height: 92px;
  margin-left: -35px; }

.slboxs__youtube__container-style-small-fill-left .slboxs__label, .slboxs__youtube__container-style-small-fill-right .slboxs__label {
  background: url(../images/youtube-small-fill.png) no-repeat scroll transparent;
  background-image: url(../images/youtube-small-fill.svg), none; }
.slboxs__youtube__container-style-small-trans-left .slboxs__label, .slboxs__youtube__container-style-small-trans-right .slboxs__label {
  background: url(../images/youtube-small-trans.png) no-repeat scroll #fff;
  background-image: url(../images/youtube-small-trans.svg), none; }
.slboxs__youtube__container-style-small-trans-left .slboxs__label, .slboxs__youtube__container-style-small-fill-left .slboxs__label {
  margin-right: -35px; }
.slboxs__youtube__container-style-small-trans-right .slboxs__label, .slboxs__youtube__container-style-small-fill-right .slboxs__label {
  margin-left: -35px; }
.slboxs__youtube__container-style-big-fill-left .slboxs__label {
  background: url(../images/youtube-big-fill-left.png) no-repeat scroll transparent;
  background-image: url(../images/youtube-big-fill-left.svg), none;
  height: 92px;
  margin-right: -35px; }
.slboxs__youtube__container-style-big-fill-right .slboxs__label {
  background: url(../images/youtube-big-fill-right.png) no-repeat scroll transparent;
  background-image: url(../images/youtube-big-fill-right.svg), none;
  height: 92px;
  margin-left: -35px; }
.slboxs__youtube__container-style-big-trans-left .slboxs__label {
  background: url(../images/youtube-big-trans-left.png) no-repeat scroll #fff;
  background-image: url(../images/youtube-big-trans-left.svg), none;
  height: 92px;
  margin-right: -35px; }
.slboxs__youtube__container-style-big-trans-right .slboxs__label {
  background: url(../images/youtube-big-trans-right.png) no-repeat scroll #fff;
  background-image: url(../images/youtube-big-trans-right.svg), none;
  height: 92px;
  margin-left: -35px; }

/*# sourceMappingURL=social-likebox-slider.css.map */
